/src/.vs
/src/StringGenerator.Client/bin
/src/StringGenerator.Client/obj
/src/StringGenerator/bin
/src/StringGenerator/obj
/build/bin
/build/obj
/build/_build.csproj.DotSettings
/build/.editorconfig
/.nuke/temp
/output
/src/StringGenerator.Tests/bin
/src/StringGenerator.Tests/obj

/BenchmarkDotNet.Artifacts/results
/src/StringGenerator.Benchmarks/bin
/src/StringGenerator.Benchmarks/obj
